.container {
    width: 100%;
}

.content {
    width: 85%;
    margin: var(--header-height) auto 0;
}

.sidebar-container {
    position: fixed;
    inset: 0;
    z-index: 9999999;
    opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}

.mask {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.sidebar {
    width: var(--sidebar-width);
    background-color: var(--white-color);
    position: relative;
    z-index: 1;
}
