@import 'normalize.css';

:root {
    // Colors:
    --primary-color: #ff0000;
    --black-color: #0f0f0f;
    --white-color: #ffffff;
    --text-color: #ffffff;
    --border-color: #d3d3d3;

    // Sizes:
    --header-height: 56px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}
