.container {
    padding: 0 36px 50px;
}

.status {
    font-size: 2.4rem;
    padding-bottom: 180px;
}

.mic {
    display: flex;
    justify-content: center;
    position: relative;
}

.mic-btn {
    --size: 65px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c00;
    position: relative;
    z-index: 1;

    &:hover {
        cursor: pointer;
        background-color: rgb(190, 2, 2);
    }
}

.mic-icon {
    fill: var(--white-color);
}

.shadow {
    --size: 220px;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: none;
    animation: listen 2s infinite;
}

@keyframes listen {
    0% {
        transform: translate(-50%, -50%) scale(0.1);
    }
    25% {
        transform: translate(-50%, -50%) scale(0.2);
    }
    35% {
        transform: translate(-50%, -50%) scale(0.3);
    }
    65% {
        transform: translate(-50%, -50%) scale(0.4);
    }
    80% {
        transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
        transform: translate(-50%, -50%) scale(0.1);
    }
}
