.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 12px 0;
    top: var(--header-height);
    z-index: 99999;
    background-color: var(--white-color);
}

.list-wp {
    flex: 1;
    overflow-x: hidden;
}

.list {
    display: flex;
    align-items: center;
    transition: all 0.1s ease;
}

.item {
    color: var(--black-color);
    background-color: var(--grey-1-color);
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 1.4rem;
    white-space: nowrap;
    user-select: none;

    + .item {
        margin-left: 12px;
    }

    &.active {
        background-color: var(--black-color);
        color: var(--white-color);
        pointer-events: none;
    }

    &:hover {
        cursor: pointer;
        background-color: #e5e5e5;
    }
}

.prev,
.next {
    width: 4%;
    display: flex;
    align-items: center;
}

.prev {
    justify-content: flex-start;
}

.next {
    justify-content: flex-end;
}
