.wrapper {
    border: 1px solid var(--border-color);
    color: #065fd4;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 32px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1px 12px;
    user-select: none;

    span {
        margin-left: 8px;
    }

    &:hover {
        background-color: #def1ff;
        border-color: #def1ff;
    }
}
