.wrapper {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;

    &.small {
        --size: 30px;
    }

    &.large {
        --size: 50px;
    }

    &.hide {
        display: none;
    }

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: #eae8e8;
        border-color: #d5d3d3;
    }
}
