.wrapper {
    width: 100%;
    margin-bottom: 36px;
}

.main {
    display: flex;
    flex-direction: column;
}

.head {
    --thumb-height: 19vh;
    position: relative;
    height: var(--thumb-height);

    &:hover .keep-hover {
        display: block;
    }
}

.thumbnail {
    width: 100%;
    height: var(--thumb-height);
    border-radius: 12px;
    background-color: var(--skeleton-color);
}

.body {
    flex: 1;
    display: flex;
    align-items: flex-start;
    margin-top: 12px;
}

.channel-thumb {
    --size: 36px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: var(--skeleton-color);
}

.info {
    flex: 1;
    margin-left: 18px;
}

.title,
.channel,
.config {
    background-color: var(--skeleton-color);
    height: 8px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.title {
    width: 80%;
}

.channel {
    width: 70%;
}

.config {
    width: 60%;
}
