.container {
    background-color: var(--white-color);
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32px;
}

.actions {
    display: flex;
    align-items: center;
}

.action-dots {
    margin-right: 10px;
}
