.container {
    background-color: var(--white-color);
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32px;
}

.brand {
    display: flex;
    align-items: center;
}

.bar-icon {
    padding: 8px;
    margin-left: 16px;
}

.brand-icon {
    margin-left: 16px;
}

.actions {
    display: flex;
    align-items: center;
}

.action-dots {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid transparent;

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: #eae8e8;
        border-color: #d5d3d3;
    }
}
